packages/
src/bin/*
src/obj/*
src/.vs/*
Module/lib
debug.md
[Oo]utput/
**/obj/**
**/bin/**
.github/chatmodes/*
.github/instructions/*
.github/prompts/*
.github/skills/*
.github/agents/*
ref/**
Copilot-Processing.md
tools/**
src/Utilities/TMConsole.cs
templib/**
todo.md
sixlabors.lic
